/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS */
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/heebo-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/heebo-v21-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/heebo-v21-latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/heebo-v21-latin-500.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/heebo-v21-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/heebo-v21-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/heebo-v21-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/heebo-v21-latin-900.woff') format('woff');
}

/* VARIABLES */
:root {
    --primary-color: #ff6464;
    --secondary-color:#00A8CC;
    --white-color: #fff;
    --black-color: #000;
    --dark-text-color:#21243D;
    --light-color:#8695A4;
    --gray-liner-color:#E0E0E0;
    --work-section-year-color:#142850;

    /* background colors*/

    --white-bg-color: #fff;
    --black-bg-color: #000;
    --secondary-bg-color:#EDF7FA;

    /* FONTS */
    --site-fonts:"Heebo","ARIAL", sans-serif;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus{
    outline: 1px solid var(--primary-color);
    outline-offset: 2px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: var(--site-fonts);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--dark-text-color);
    background-color: var(--white-bg-color)
}

.dark-mode{
    --white-color: #21243D;;
    --black-color: #fff;
    --dark-text-color:#fff;
    --work-section-year-color:#fff;



    /* background colors*/

    --white-bg-color: #21243D;
    --black-bg-color: #fff;

    /* FONTS */
    --site-fonts:"Heebo","ARIAL", sans-serif;
}

.container{
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding: 0 2rem;
}
.primary-btn{
    --white-color:#fff;
    background-color: var(--primary-color);
    padding: 1.2rem 2rem;
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--white-color);
    border-radius: 2px;
}
.primary-btn:hover{
    opacity: 0.8;
}
.primary-btn:active{
    opacity: 0.6;
}
main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
h1{
    font-weight: 700;
    font-size: 4.4rem;
    margin: 0;
    line-height: 1.36;
}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}

button
{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}

ul , ol{
    list-style: none ;
}

img{
    display: block;
}

/* HEADER STYLES */

.header{
    padding: 2.7rem 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__logo-img{
    width: 36px;
    height: 36px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.header_nav_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:3.2rem;
}

.header_nav_link{
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--black-color);
}

.header_nav_link:hover{
    color: var(--primary-color);
}
.burger-btn{
    display: none;
}
.burger-btn svg path {

    stroke:var(--dark-text-color);
}
/* MAIN STYLES */
.main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
/* HERO STYLES */
.hero{
    padding-top: 14rem;
    padding-bottom: 7rem;

}
.hero .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero__trxt-wrapper{
    width: 100%;
    max-width: 500px;
}
.hero__title{
    margin-bottom: 4rem;
}
.hero__text{
    margin-bottom: 3.8rem;
}
.hero__img{
    width: 243px;
    height: 243px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    border-radius: 50%;
    -webkit-box-shadow: -5px 13px 0 0 var(--secondary-bg-color);
            box-shadow: -5px 13px 0 0 var(--secondary-bg-color);
}
/* recent posts section styles */

.recent-posts{
    --white-color: #fff;
    --black-color: #000;
    --dark-text-color:#21243D;
    --white-bg-color: #fff;
    
    background-color: var(--secondary-bg-color);
    color: var(--dark-text-color);
    padding-bottom: 3rem;
}
.recent-post__top{
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.recent-post__title{
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 400;
}
.recent-post__link{
    color: var(--secondary-color);
    -webkit-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}
.recent-post__link:hover{
    letter-spacing: 0.2em;
}
.recent-posts__cards{
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat( auto-fit, minmax(300px,1fr ));
    gap: 2rem;
}
.recent-posts__item{
    padding: 2.4rem 2rem;
    border-radius: 4px;
    background-color: var(--white-bg-color);
}

.card-date{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 1.7rem;
    padding-bottom: 1.1rem;
}
.card-date__time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}
.card-date__line{
    display: inline-block;
    width: 1px;
    height: 80%;
    background-color: #000;
}
/* WORKS section */
.work__text-wrapper{
    padding-top: 0.2rem;
}
.works__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10.15rem;
    gap: 5rem;
}
.works__title{
    font-size: 2.2rem;
    padding: 2rem 0;
    color: var(--dark-text-color);
}
.works__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.8rem;
    position: relative;
}

.works__item::before{
    content: "";
    position: absolute;
    bottom: -2rem;
    width: 100%;
    height: 1px;
    background-color: var(--gray-liner-color);
}

.works__item-title{
    font-size: 3.3rem;
    line-height: 0.75;
    margin-bottom: 1.6rem;
}
.work-year-and-type-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2.6rem;
    margin-bottom: 1.7rem;

}
.works__year{

    font-weight: 900;
    padding: 0.2rem 1rem;
    font-size: 1.8rem;
    background-color: var(--work-section-year-color);
    border-radius: 16px;
    color: var(--white-color);

}
.works__type{
    font-size: 2rem;
    color: var(--light-color);
}
.works__text{
    max-width: 595px;
}

/* FOOTER */
.footer{
    padding: 5rem;
}
.footer__img-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
    margin-bottom: 2.6rem;
}

.footer__text{
    font-size: 1.4rem;
    text-align: center;
}
.footer__app-link{
  
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    background-color: var(--gray-liner-color);
    

}
.footer__app-link:hover{
    -webkit-animation: app 2s linear infinite;
            animation: app 2s linear infinite;
}

@-webkit-keyframes app{
    0%{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

@keyframes app{
    0%{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    100%{
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}
@media only screen and (max-width:768px){
    .hero{
        padding-top: 8rem;
    }
    .hero .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
}
@media  screen and
 (max-width:576px)
{
    .hero{
        padding-top: 3.3rem;
        padding-bottom: 6rem;
    }
    .hero__img{
        margin-bottom: 4rem;
        width: 50%;
        height: auto;
    }
    .hero__title{
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }
    .hero__text{
        margin-bottom: 2.7rem;
    }
    .header{
        padding: 2rem 1.8rem;
    }

    .header_nav{
        display: none;}

    .burger-btn{
        display: block;
    }

}
@media only screen and (max-width:375px){
    .recent-post__top{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .recent-post__link{
        display: none;
    }
    .works__title{
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .dashbord{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    
    }
    .works__item-title{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .works__year{
        font-size: 1.6rem;
    }
    .works__type{
        font-size: 1.6rem;
    }

    .illustration, .typography{
        display: none;
    }

}